

{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block content %}


    <div class="box box-primary" style="margin-bottom: 100px;">
        <div class="box-body table-responsive no-padding">



            <table class="table table-bordered table-striped sonata-ba-list">
                <thead>
                <tr class="sonata-ba-list-field-header">

                    <th>Id</th>
                    <th>Support member</th>
                    <th>Action</th>
                    <th>Content old</th>
                    <th>Content new</th>
                    <th>Date of execution</th>
                    <th>Message sent</th>
                </tr>
                </thead>

                <tbody>

                {% for log in logs %}
                    <tr>
                        <td>
                            {{ log.id }}
                        </td>
                        <td>
                            <a class="btn btn-sm btn-info" href="{{ admin.generateObjectUrl('edit', log.supportMember) }}">
                                {{ log.supportMember.email }}
                            </a>
                        </td>
                        <td>
                            {{ log.action }}
                        </td>
                        <td>
                            {% if log.content['old'] is defined %}
                                {% if log.content['old']['date'] is defined %}
                                    {{ log.content['old']['date']|date("Y-m-d") }}
                                {% endif %}
                                {% if log.content['old']['date'] is not defined %}
                                    {{ log.content['old'] }}
                                {% endif %}
                            {% endif %}

                        </td>
                        <td>
                            {% if log.content['new'] is defined %}
                                {% if log.content['new']['date'] is defined %}
                                    {{ log.content['new']['date']|date("Y-m-d") }}
                                {% endif %}
                                {% if log.content['new']['date'] is not defined %}
                                    {{ log.content['new'] }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {{ log.createdAt|date('Y-m-d H:i:s') }}
                        </td>
                        <td class="sonata-ba-list-field sonata-ba-list-field-boolean">
                            {% if log.messageSent == false %}
                                <span class="label label-danger">no</span>
                            {% endif %}
                            {% if log.messageSent == true %}
                                <span class="label label-success">yes</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}


                </tbody>

            </table>


        </div>
        <div class="box-footer">
            <div class="form-inline clearfix">




            </div>

        </div>
    </div>


{% endblock %}

