

{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block content %}


    <div class="box box-primary" style="margin-bottom: 50px;">
        <div class="box-body table-responsive no-padding">


            <table class="table table-bordered table-striped sonata-ba-list">
                <thead>
                <tr class="sonata-ba-list-field-header">

                    <th>Id</th>
                    <th>Created</th>
                    <th>Posted place</th>
                    <th>Content</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>

                {% for comment in userComments %}
                    <tr>
                        <td>
                            {{ comment['comment'].id }}
                        </td>
                        <td>
                            {{ comment['comment'].createdAt|date("Y-m-d H:i:s" ) }}
                        </td>
                        <td>
                            <a href="{{ commentWebAppPath(comment, web_url) }}" target="_blank">Link to webapp</a>
                        </td>
                        <td>
                            <div>
                                {% if comment.threadEntity == 'StudiVZ\\Core\\Entity\\BlogPost' %}
                                    Posted in post
                                {% elseif comment.threadEntity == 'StudiVZ\\Core\\Entity\\ForumThread' %}
                                    Posted in thread
                                {% elseif comment.threadEntity == 'StudiVZ\\Core\\Entity\\Event' %}
                                    Posted in event
                                {% endif %}
                            </div>
                            {% if comment['comment'].content['content'] is defined %}
                                <div>
                                    {{ comment['comment'].content['content'] | raw }}
                                </div>
                                <a href="{{ comment['comment'].content['url'] }}" target="_blank">
                                    {{ comment['comment'].content['url'] }}
                                </a>
                            {% endif %}
                            {% if comment['comment'].content['content'] is not defined %}
                                {% if comment.threadEntity == 'StudiVZ\\Core\\Entity\\ForumThread' %}
                                    {% if comment.comment.repliedTo is null %}
                                        {{ comment.forumThreadContent | raw }}
                                    {% else %}
                                        {{ comment['comment'].content['text'] | raw }}
                                    {% endif %}
                                {% elseif comment.threadEntity == 'StudiVZ\\Core\\Entity\\BlogPost' %}
                                    {% if comment.comment.repliedTo is null %}
                                        {{ comment.postContent | raw }}
                                    {% else %}
                                        {{ comment['comment'].content['text'] | raw }}
                                    {% endif %}
                                {% else %}
                                    {{ comment['comment'].content['text'] | raw }}
                                {% endif %}

                            {% endif %}

                            <div>
                                {% for attachment in comment['comment'].getAttachmentsArray %}
                                    <img src="{{ attachment.url }}" width="100">
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <a href="{{ admin.generateUrl('deleteComment', { 'id': comment['comment'].id })}}" data-href="{{ admin.generateUrl('deleteComment', { 'id': comment['comment'].id })}}"  class="btn btn-sm btn-danger confirm-delete">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                Delete comment
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>


        </div>
    </div>

    <div class="text-center">
        <ul class="pagination{% if pager_class is defined %} {{ pager_class }}{% endif %}">
            {% if pager.page > 2  %}
                <li><a href="{{ admin.generateUrl('userComments', {'id': id, 'page': 1}) }}" title="{{ 'link_first_pager'|trans({}, 'SonataDatagridBundle') }}">&laquo;</a></li>
            {% endif %}

            {% if pager.page != pager.previouspage %}
                <li><a href="{{ admin.generateUrl('userComments', {'id': id, 'page': pager.previouspage}) }}" title="{{ 'link_previous_pager'|trans({}, 'SonataDatagridBundle') }}">&lsaquo;</a></li>
            {% endif %}

            {#Set the number of pages to display in the pager#}
            {% for page in pager.getLinks(5) %}
                {% if page == pager.page %}
                    <li class="active"><a href="{{ admin.generateUrl('userComments', {'id': id, 'page': page}) }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="{{ admin.generateUrl('userComments', {'id': id, 'page': page}) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if pager.page != pager.nextpage %}
                <li><a href="{{ admin.generateUrl('userComments', {'id': id, 'page': pager.nextpage}) }}" title="{{ 'link_next_pager'|trans({}, 'SonataDatagridBundle') }}">&rsaquo;</a></li>
            {% endif %}

            {% if pager.page != pager.lastpage and pager.lastpage != pager.nextpage %}
                <li><a href="{{ admin.generateUrl('userComments', {'id': id, 'page': pager.lastpage}) }}" title="{{ 'link_last_pager'|trans({}, 'SonataDatagridBundle') }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>


    <script>
        $(".confirm-delete").click(function(e) {
            e.preventDefault();
            var $link = $(this);

            bootbox.confirm("Do you want to delete comment?", function(result) {
                if (result == true) {
                    document.location.assign($link.attr('data-href'));
                }
            });
        });
    </script>


{% endblock %}

