<th>{% block name %}{{ admin.trans(field_description.label) }}{% endblock %}</th>
<td>
    <a href="{{ object.file.url }}" target="_blank">
        <img style="max-width: 200px" src="{{ object.file.url }}" title="{{ object.file.url }}" />
    </a>
</td>
