{#

This file is part of the YesWeHack BugBounty backend

(c) Romain Honel <romain.honel@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% spaceless %}
        {% set width = field_description.options.width is defined ? field_description.options.width : 'auto' %}
        {% set size = field_description.options.size is defined ? field_description.options.size : 'photo_big' %}
        {% set show_link = field_description.options.show_link is defined ? field_description.options.show_link : false %}
        {% for key, image in value %}
            {% if key == size %}
                <img src="{{ image }}" alt="Image preview" width="{{ width }}" /><br/>
                {% if show_link %}
                    <a href="{{ image }}" target="_blank">{{ image }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock %}