---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  labels:
    app.kubernetes.io/name: app
spec:
  progressDeadlineSeconds: <%= progressDeadlineSeconds %>
  replicas: <%= replicas['app'] %>
  selector:
    matchLabels:
      app.kubernetes.io/name: app
  template:
    metadata:
      labels:
        app.kubernetes.io/name: app
    spec:
      volumes:
        - name: app-var
          emptyDir: {}
        - name: app-composer
          emptyDir: {}
        - name: app-conf
          configMap:
            name: app-conf
        - name: nginx-cache
          emptyDir: {}
        - name: nginx-run
          emptyDir: {}
        - name: nginx-conf
          configMap:
            name: nginx-conf
      containers:
        - name: app
          image: <%= aws_account_id %>.dkr.ecr.<%= aws_region %>.amazonaws.com/<%= project %>/app:<%= version %>
          resources:
            requests:
              memory: 1024Mi
              cpu: 1000m
          <% if args %>
          args:
          <% args.each do |arg| %>
            - <%= arg %>
          <% end %>
          <% end %>
          ports:
            - containerPort: 9000
          volumeMounts:
            - mountPath: /app/var/
              name: app-var
            - mountPath: /usr/local/etc/php-fpm.d/
              name: app-conf
            - mountPath: /var/www/.composer/
              name: app-composer
          env:
          <% env.each do |name, value| %>
          <% if value == '__secretKeyRef__' %>
            - name: <%= name %>
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: <%= name %>
          <% else %>
            - name: <%= name %>
              value: "<%= value %>"
          <% end %>
          <% end %>
        - name: nginx
          image: <%= aws_account_id %>.dkr.ecr.<%= aws_region %>.amazonaws.com/<%= project %>/nginx:<%= version %>
          volumeMounts:
            - mountPath: /run
              name: nginx-run
            - mountPath: /var/cache/nginx
              name: nginx-cache
            - mountPath: /etc/nginx/conf.d/
              name: nginx-conf
          securityContext:
            readOnlyRootFilesystem: true
          resources:
            requests:
              memory: 128Mi
              cpu: 1000m
