---

apiVersion: v1
kind: Service
metadata:
  name: app
  labels:
    app.kubernetes.io/name: app
  annotations:
    external-dns.alpha.kubernetes.io/hostname: <%= domain %>
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: arn:aws:acm:eu-west-2:104034259154:certificate/855d7c84-4de3-4da5-8b48-32470c0640a3
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: https
spec:
  type: LoadBalancer
  externalTrafficPolicy: Cluster
  ports:
    - port: 443
      targetPort: 80
      name: https
    - port: 80
      targetPort: 80
      name: http
  selector:
    app.kubernetes.io/name: app
