

{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block content %}

    <form>

        <div class="box box-primary" style="margin-bottom: 50px;">
            <div class="box-body table-responsive no-padding" style="overflow-x: hidden;">
                <div class="row">
                    {% for file in userFiles %}
                    <div class="col-xs-6 col-sm-4 mosaic-box sonata-ba-list-field-batch sonata-ba-list-field" objectid="{{ file.entity.id }}">

                        <div class="mosaic-box-outter" style="padding: 15px;">
                            <div class="mosaic-inner-box" style="height: 200px;">

                                <div class="mosaic-inner-box-default">
                                    <a href="{{ file.entity.url }}" target="_blank">
                                        <img src="{{ file.entity.url }}" width="100" height="100">
                                    </a>
                                    <span class="mosaic-box-label label label-primary pull-right">#{{ file.entity.id }}</span>
                                </div>

                                <div class="mosaic-inner-box-hover">
                                    <span class="mosaic-box-label label label-primary pull-right">#{{ file.entity.id }}</span>

                                </div>
                            </div>


                            <div class="mosaic-inner-text">
                                <div class="text-center">
                                    {{ file.entity.createdAt|date("Y-m-d H:i:s" ) }}
                                </div>
                                <div class="text-center" style="min-height: 20px;">
                                    {% if file.usageEntity == 'StudiVZ\\Core\\Entity\\User' %}
                                    <a href="{{ web_url }}/user/{{ file.usageEntityUuid }}" target="_blank">
                                    Place of upload
                                    </a>
                                    {% elseif file.usageEntity == 'StudiVZ\\Core\\Entity\\Event' %}
                                    <a href="{{ web_url }}/event/{{ file.usageEntityUuid }}" target="_blank">
                                    Place of upload
                                    </a>
                                    {% elseif file.usageEntity == 'StudiVZ\\Core\\Entity\\BlogPost' %}
                                    <a href="{{ web_url }}/groups/{{ file.groupId }}/blog/{{ file.postSlug }}" target="_blank">
                                    Place of upload
                                    </a>
                                    {% elseif file.usageEntity == 'StudiVZ\\Core\\Entity\\Group' %}
                                    <a href="{{ web_url }}/groups/{{ file.usageEntityId }}" target="_blank">
                                    Place of upload
                                    </a>
                                    {% elseif file.usageEntity == 'StudiVZ\\Core\\Entity\\Comment' %}
                                        {% if file.threadEntity == 'StudiVZ\\Core\\Entity\\BlogPost' %}
                                            <a href="{{ web_url }}/groups/{{ file.groupId }}/blog/{{ file.postSlug }}" target="_blank">
                                                Place of upload
                                            </a>
                                        {% elseif file.threadEntity == 'StudiVZ\\Core\\Entity\\ForumThread' %}
                                            <a href="{{ web_url }}/groups/{{ file.forumGroupId }}/forum/{{ file.forumThreadSlug }}" target="_blank">
                                                Place of upload
                                            </a>
                                        {% elseif file.threadEntity == 'StudiVZ\\Core\\Entity\\Event' %}
                                            <a href="{{ web_url }}/event/{{ file.threadEntityId }}" target="_blank">
                                                Place of upload
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="icheckbox_square-blue" style="position: relative;">
                                    <input type="checkbox" name="idx[]" value="{{ file.entity.id }}" style="position: absolute; opacity: 0;">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-danger confirm-delete pull-right">Delete Selected</button>


    </form>

    <div class="text-center">
        <ul class="pagination{% if pager_class is defined %} {{ pager_class }}{% endif %}">
            {% if pager.page > 2  %}
                <li><a href="{{ admin.generateUrl('userFiles', {'id': id, 'page': 1}) }}" title="{{ 'link_first_pager'|trans({}, 'SonataDatagridBundle') }}">&laquo;</a></li>
            {% endif %}

            {% if pager.page != pager.previouspage %}
                <li><a href="{{ admin.generateUrl('userFiles', {'id': id, 'page': pager.previouspage}) }}" title="{{ 'link_previous_pager'|trans({}, 'SonataDatagridBundle') }}">&lsaquo;</a></li>
            {% endif %}

             {#Set the number of pages to display in the pager#}
            {% for page in pager.getLinks(5) %}
                {% if page == pager.page %}
                    <li class="active"><a href="{{ admin.generateUrl('userFiles', {'id': id, 'page': page}) }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="{{ admin.generateUrl('userFiles', {'id': id, 'page': page}) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if pager.page != pager.nextpage %}
                <li><a href="{{ admin.generateUrl('userFiles', {'id': id, 'page': pager.nextpage}) }}" title="{{ 'link_next_pager'|trans({}, 'SonataDatagridBundle') }}">&rsaquo;</a></li>
            {% endif %}

            {% if pager.page != pager.lastpage and pager.lastpage != pager.nextpage %}
                <li><a href="{{ admin.generateUrl('userFiles', {'id': id, 'page': pager.lastpage}) }}" title="{{ 'link_last_pager'|trans({}, 'SonataDatagridBundle') }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>

    <script>
        $(".confirm-delete").click(function(e) {
            e.preventDefault();
            var $link = $(this);

            bootbox.confirm("Do you want to delete files?", function(result) {
                if (result == true) {
                    $('form').submit();
                }
            });
        });
    </script>


{% endblock %}

