{% extends '@SonataAdmin/CRUD/show.html.twig' %}

{% block show %}
    {{ parent() }}
    <h3>Show entities related to this thread</h3>
    <div>
        <a href="{{ path('admin_studivz_core_comment_list', {"filter": {"entity": {"value": "StudiVZ\\\\Core\\\\Entity\\\\Thread"}, "entityId": {"value": object.id }}}) }}" target="_blank">Comments</a>
    </div>
{% endblock %}
