{% extends '@SonataAdmin/CRUD/show.html.twig' %}

{% block show %}
    {{ parent() }}
    <h3>Show entities related to this forum thread</h3>
    <div>
        <a href="{{ path('admin_studivz_core_thread_list', {"filter": {"entity": {"value": "StudiVZ\\\\Core\\\\Entity\\\\ForumThread"}, "entityId": {"value": object.id }}}) }}" target="_blank">Forum threads</a>
    </div>
{% endblock %}
