{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <div class="col-md-12 ">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title">
                    User
                </h4>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table">
                    <tbody>

                    <tr class="sonata-ba-view-container">

                        <!-- START
                            fieldName: email
                            template: @SonataAdmin/CRUD/base_show_field.html.twig
                            compiled template: @SonataAdmin/CRUD/base_show_field.html.twig
                            -->

                        <th>Email</th>
                        <td>{{ object.email }}</td>


                        <!-- END - fieldName: email -->
                    </tr>

                    <tr class="sonata-ba-view-container">

                        <!-- START
                            fieldName: password
                            template: @SonataAdmin/CRUD/base_show_field.html.twig
                            compiled template: @SonataAdmin/CRUD/base_show_field.html.twig
                            -->

                        <th>Password</th>
                        <td>{{ object.password }}</td>


                        <!-- END - fieldName: password -->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}