

{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block content %}


    {{ form_start(form) }}

        <div class="sonata-ba-collapsed-fields">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h4 class="box-title">
                                Change user password
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="form-group">
                                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                        {% form_theme form '@SonataAdmin/Form/form_admin_fields.html.twig' %}

                                        {{ form_widget(form.plainPassword) }}
                                        {{ form_errors(form.plainPassword) }}


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#<div class="sonata-ba-form-actions well well-small form-actions">#}
            {#{{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}#}
        {#</div>#}

    {% block formactions %}
        <div class="sonata-ba-form-actions well well-small form-actions">
            <button type="submit" class="btn btn-success" name="btn_success"><i class="fa fa-pencil" aria-hidden="true"></i> Change password</button>
            <a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-default">Cancel</a>
        </div>
    {% endblock %}

    {{ form_end(form) }}


{% endblock %}

