
{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block content %}


    {{ form_start(form) }}

    <div class="sonata-ba-collapsed-fields">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            You are about to delete {{ object.username }}!
                        </h4>
                        {% if ban is not null %}
                            <h4 style="margin-bottom: 0px;font-size: 16px;">
                                In addition to deletion, this users email will be put on the blacklist!
                            </h4>
                        {% endif %}
                    </div>
                    <div class="box-body">

                        {% form_theme form '@SonataAdmin/Form/form_admin_fields.html.twig' %}

                        {{ form_widget(form) }}

                    </div>
                    <div class="box-footer" style="font-size: 16px; color: #e01;">
                        Warning: deletion is final and cant be reversed!
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block formactions %}
        <div class="sonata-ba-form-actions well well-small form-actions">
            {% if ban is null %}
                <button type="submit" class="btn btn-danger" name="btn_delete"><i class="fa fa-times" aria-hidden="true"></i> Delete user</button>
            {% endif %}
            {% if ban is not null %}
                <button type="submit" class="btn btn-danger" name="btn_delete"><i class="fa fa-times" aria-hidden="true"></i> Delete & Ban user</button>
            {% endif %}
            <a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-default">Cancel</a>
        </div>
    {% endblock %}

    {{ form_end(form) }}




{% endblock %}

