{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block formactions %}
    <div class="sonata-ba-form-actions well well-small">
        <div style="margin-bottom: 15px;">
            <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save" aria-hidden="true"></i> Update</button>
            <button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> Update and close</button>

            <a class="btn btn-danger pull-right" href="{{ admin.generateObjectUrl('deleteUser', object) }}"><i class="fa fa-minus-circle" aria-hidden="true"></i> Delete user</a>
            <a class="btn btn-danger pull-right" href="{{ admin.generateObjectUrl('banUser', object) }}" style="margin-right: 3px;"><i class="fa fa-ban" aria-hidden="true"></i> Ban user</a>
        </div>

        <div style="margin-bottom: 15px;">
            <a class="btn btn-info" href="{{ admin.generateObjectUrl('sendUserMessage', object) }}"><i class="fa fa-comment" aria-hidden="true"></i> Send message to user</a>
            <a class="btn btn-info" href="{{ admin.generateObjectUrl('bypass', object) }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login as user (Bypass)</a>
            <a class="btn btn-info" href="{{ admin.generateObjectUrl('userHistory', object) }}"><i class="fa fa-history" aria-hidden="true"></i> User history</a>
            <a class="btn btn-info" href="{{ admin.generateObjectUrl('userAddToImportQueue', object) }}"><i class="fa fa-child" aria-hidden="true"></i> Add To Import</a>
            <a class="btn btn-warning" href="{{ admin.generateObjectUrl('resetPassword', object) }}"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Reset Password</a>
            <a class="btn btn-warning" href="{{ admin.generateObjectUrl('changePassword', object) }}"><i class="fa fa-edit" aria-hidden="true"></i> Change Password</a>
            <a class="btn btn-warning" href="{{ admin.generateObjectUrl('toggleRevenueAllowed', object) }}">

                {% if object.isRevenueAllowed() %}
                        <i class="fa fa-times" aria-hidden="true"></i> Disallow revenue
                    {% else %}
                        <i class="fa fa-check" aria-hidden="true"></i> Allow revenue
                {% endif %}
            </a>
        </div>

        <div style="margin-bottom: 15px;">
            <a class="btn btn-info" href="{{ admin.generateObjectUrl('userComments', object) }}"><i class="fa fa-comment" aria-hidden="true"></i> List of last comments and threads</a>
            <a class="btn btn-info" href="{{ admin.generateObjectUrl('userFiles', object) }}"><i class="fa fa-comment" aria-hidden="true"></i> List of uploaded content</a>
        </div>

        {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <div style="margin-bottom: 15px;">
            <a class="btn btn-warning confirm-send" href="{{ admin.generateObjectUrl('makeSupportMember', object) }}" data-href="{{ admin.generateObjectUrl('makeSupportMember', object) }}">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                {% if object.hasRole('ROLE_SUPPORT_MEMBER') %}
                    Remove support member
                {% else %}
                    Make Support member
                {% endif %}
            </a>
            <a class="btn btn-warning confirm-send" href="{{ admin.generateObjectUrl('makeSupportAdmin', object) }}" data-href="{{ admin.generateObjectUrl('makeSupportAdmin', object) }}">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                {% if object.hasRole('ROLE_SUPER_ADMIN') %}
                    Remove support admin
                {% else %}
                    Make Support admin
                {% endif %}
            </a>
        </div>
        {% endif %}
    </div>

    <script>
        $(".confirm-send").click(function(e) {
            e.preventDefault();
            var $link = $(this);

//	        window.confirm("Your custom JS was loaded correctly!");
            bootbox.confirm({
                title: "<div class='text-center'>Are you sure you want </div>",
                message: "<div><div class='text-center'><h3>{{ object.firstname }} {{ object.lastname }}</h3></div><h4 class='text-center'>" + $(this).text() + "?</h4></div>",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        document.location.assign($link.attr('data-href'));
                    }
                }
            });
        });
    </script>

{% endblock %}



