{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block content %}
<div class="box box-primary" style="margin-bottom: 50px;">
    <div class="box-body table-responsive no-padding">


        <table class="table table-bordered table-striped sonata-ba-list">
            <thead>
            <tr class="sonata-ba-list-field-header">

                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Role(s)</th>
                <th>Last Login</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>

            {% for user in users %}
                <tr>
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        {{ user.firstname }}
                    </td>
                    <td>
                        {{ user.lastname }}
                    </td>
                    <td>
                        {{ user.roles|join(' | ') }}
                    </td>
                    <td>
                        {{ user.lastLogin|date('Y-m-d H:i:s') }}
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="1">


                        <div class="btn-group">

                            <a href="{{ admin.generateObjectUrl('show', user) }}" class="btn btn-sm btn-default view_link" title="Show">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Show
                            </a>

                            <a href="{{ admin.generateObjectUrl('edit', user) }}" class="btn btn-sm btn-default edit_link" title="Edit">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Edit
                            </a>
                        </div>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<div class="text-center">
    <ul class="pagination{% if pager_class is defined %} {{ pager_class }}{% endif %}">
        {% if pager.page > 2  %}
            <li><a href="{{ admin.generateUrl('listSupportMembers', {'page': 1}) }}" title="{{ 'link_first_pager'|trans({}, 'SonataDatagridBundle') }}">&laquo;</a></li>
        {% endif %}

        {% if pager.page != pager.previouspage %}
            <li><a href="{{ admin.generateUrl('listSupportMembers', {'page': pager.previouspage}) }}" title="{{ 'link_previous_pager'|trans({}, 'SonataDatagridBundle') }}">&lsaquo;</a></li>
        {% endif %}

        {#Set the number of pages to display in the pager#}
        {% for page in pager.getLinks(5) %}
            {% if page == pager.page %}
                <li class="active"><a href="{{ admin.generateUrl('listSupportMembers', {'page': page}) }}">{{ page }}</a></li>
            {% else %}
                <li><a href="{{ admin.generateUrl('listSupportMembers', {'page': page}) }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if pager.page != pager.nextpage %}
            <li><a href="{{ admin.generateUrl('listSupportMembers', {'page': pager.nextpage}) }}" title="{{ 'link_next_pager'|trans({}, 'SonataDatagridBundle') }}">&rsaquo;</a></li>
        {% endif %}

        {% if pager.page != pager.lastpage and pager.lastpage != pager.nextpage %}
            <li><a href="{{ admin.generateUrl('listSupportMembers', {'page': pager.lastpage}) }}" title="{{ 'link_last_pager'|trans({}, 'SonataDatagridBundle') }}">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}