{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object.exportData.finished == 1 %}
        <span class="label label-success">yes</span>
    {% else %}
        <span class="label label-danger">no</span>
    {% endif %}
{% endblock %}