{# <a class="btn btn-link btn-flat" href="{{ admin.generateUrl('user-add-to-import') }}">
    <i class="fa fa-level-up"></i>{{ 'reset_password'|trans({}, 'SonataAdminBundle') }}
</a> #}

{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block content %}

    {{ form_start(form) }}

    <div class="sonata-ba-collapsed-fields">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            Import data of {{ object }} by entering his old Email 
                        </h4>
                        <p>Note: 
                        <li>If you enter an address the queue entry will be either created or if it already existed it will be updated</li>
                        <li>After clicking submit it may take some time to look the user up</li>
                        <li>It does not check wether an email has already been imported</li>
                        <li>After submitting the email this page should say that the import is in progress.</li>
                        <li>In 'progress' means the email has been verified or has been started with this tool by staff members.</li>

                        </p>
                    </div>
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields">
                            <div class="form-group">
                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                    {% form_theme form '@SonataAdmin/Form/form_admin_fields.html.twig' %}

                                    {{ form_widget(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        {% block formactions %}
        <div class="sonata-ba-form-actions well well-small form-actions">
            <button type="submit" class="btn btn-success confirm-send" name="btn_success" data-href="send-urgent-message"><i class="fa fa-save" aria-hidden="true"></i> Send</button>
            {#<a class="btn btn-success confirm-send" name="btn_success"><i class="fa fa-save" aria-hidden="true"></i> Send</a>#}
        </div>
    {% endblock %}
        {{ form_end(form) }}

{% endblock %}

