<li>
    <a class="sonata-action-element" href="{{ admin.generateUrl('sendUrgentMessage') }}"><i class="fa fa-envelope-o" aria-hidden="true"></i>
        Post urgent message to ALL users
    </a>
    <a class="sonata-action-element" href="{{ admin.generateUrl('sendUrgentMessage') }}"><i class="fa fa-envelope-o" aria-hidden="true"></i>
        Post urgent message to ALL users
    </a>
</li>