{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block content %}

    {{ form_start(form) }}


    <div class="sonata-ba-collapsed-fields">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            Post urgent message to ALL users
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields">
                            <div class="form-group">
                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                    {% form_theme form '@SonataAdmin/Form/form_admin_fields.html.twig' %}

                                    {{ form_widget(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block formactions %}
        <div class="sonata-ba-form-actions well well-small form-actions">
            <button type="submit" class="btn btn-success confirm-send" name="btn_success" data-href="send-urgent-message"><i class="fa fa-save" aria-hidden="true"></i> Send</button>
            {#<a class="btn btn-success confirm-send" name="btn_success"><i class="fa fa-save" aria-hidden="true"></i> Send</a>#}
        </div>
    {% endblock %}


    {{ form_end(form) }}


    <script>
        $(".confirm-send").click(function(e) {
            e.preventDefault();
            var $link = $(this);

            bootbox.confirm({
                title: "You are about to send the following message:",
                message: $('.content-message').val(),
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $('form').submit();
                    }
                }
            });

        });
    </script>
{% endblock %}
