{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.keywords) }}<br/>
        {{ form_errors(form.keywords) }}<br/>
        {{ form_widget(form.keywords) }}
    </div>

    <div class="sonata-ba-form-actions well well-small form-actions">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
    </div>

{{ form_end(form) }}