{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_page_content_header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-collapse">
                <div class="nav navbar-left btn-group">
                    <a href="{{ admin.generateUrl('list', app.request.query.all|merge({'type': 'user'})) }}" class="btn btn-default navbar-btn btn-sm"><i class=""></i>Username</a>
                    <a href="{{ admin.generateUrl('list', app.request.query.all|merge({'type': 'password'})) }}" class="btn btn-default navbar-btn btn-sm"><i class=""></i>Passwords</a>
                    <a href="{{ admin.generateUrl('list', app.request.query.all|merge({'type': 'email'})) }}" class="btn btn-default navbar-btn btn-sm"><i class=""></i>Emails</a>
                    <a href="{{ admin.generateUrl('list', app.request.query.all|merge({'type': 'group'})) }}" class="btn btn-default navbar-btn btn-sm"><i class=""></i>Group/Event/Blog</a>
                    <a href="{{ admin.generateUrl('list', app.request.query.all|merge({'type': 'fullname'})) }}" class="btn btn-default navbar-btn btn-sm"><i class=""></i>First&Last Names</a>
                    <a href="{{ admin.generateUrl('list', app.request.query.all|merge({'type': 'ip'})) }}" class="btn btn-default navbar-btn btn-sm"><i class=""></i>IP blacklist</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock sonata_page_content_header %}
{# {% if admin.getListMode() == mode %} active{% endif %} #}
{% block sonata_admin_content %}
    <div class="sonata-ba-form">
        <div class="box box-primary">
            <div class="box-body">
                {{ content|raw }}
            </div>
        </div>
    </div>
{% endblock %}