{% block block %}



<form name="user_urgent_message" method="post">
    <div class="sonata-ba-collapsed-fields">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h4 class="box-title">
                            Post urgent message to ALL users
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields">
                            <div class="form-group">
                                <div class="sonata-ba-field sonata-ba-field-standard-natural">

                                    <div id="user_urgent_message">
                                        <div class="form-group" id="sonata-ba-field-container-user_urgent_message_message">
                                            <label class="control-label required" for="user_urgent_message_message">
                                                Message </label>
                                            <div class="sonata-ba-field">
                                                <textarea id="user_urgent_message_message" name="user_urgent_message[message]"
                                                    required="required" class="content-message form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group" id="sonata-ba-field-container-user_urgent_message_onPlatform">
                                            <div class="sonata-ba-field">
                                                <div class="checkbox"> <label class="">
                                                        <div class="icheckbox_square-blue"><input type="checkbox" id="user_urgent_message_onPlatform"
                                                                name="user_urgent_message[onPlatform]" value="1" style="position: absolute; opacity: 0;"><ins
                                                                class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div><span
                                                            class="control-label__text">
                                                            by platform</span>
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                      {#   <div class="form-group" id="sonata-ba-field-container-user_urgent_message_onNotification">
                                            <div class="sonata-ba-field">
                                                <div class="checkbox"> <label>
                                                        <div class="icheckbox_square-blue"><input type="checkbox" id="user_urgent_message_onNotification"
                                                                name="user_urgent_message[onNotification]" value="1"
                                                                style="position: absolute; opacity: 0;"><ins class="iCheck-helper"
                                                                style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div><span
                                                            class="control-label__text">
                                                            by email</span>
                                                    </label>
                                                </div> 

                                            </div>
                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="user_urgent_message__token" name="user_urgent_message[_token]" class=" form-control" value="">

                        <button type="submit" class="btn btn-success confirm-send" name="btn_success" data-href="send-urgent-message"><i
                                class="fa fa-save" aria-hidden="true"></i> Send</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

<script>
    $(function () {
        $(".confirm-send").click(function (e) {
            e.preventDefault();
            var $link = $(this);

            bootbox.confirm({
                title: "You are about to send the following message:",
                message: $('.content-message').val(),
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.get("/admin/studivz/core/user/send-urgent-message", function(data) {
                            $("#user_urgent_message__token").val($(data).find("#user_urgent_message__token").val());

                            $.post("/admin/studivz/core/user/send-urgent-message", $("form").serialize())
                                .always(
                                    function () {
                                        location.reload();
                                    }
                                );
                            });
                        }
                    }
                });
            });
        });
</script>

{% endblock %}