{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <p>Groups</p>
                    <h3>{{ countGroup['allGroups'] }}</h3>
                    <div style="font-size: 16px">
                        <strong>{{ countGroup['allNewGroups'] }}</strong> new groups for last 30 days
                    </div>
                </div>
                <div class="icon">
                    <i class="fa fa-comments"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="small-box bg-red">
                <div class="inner">
                    <p>Events</p>
                    <h3>{{ countEvents['allEvents'] }}</h3>
                    <strong>{{ countEvents['allNewEvents'] }}</strong> new events for last 30 days
                </div>
                <div class="icon">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="small-box bg-green">
                <div class="inner">
                    <p>Users</p>
                    <h3>{{ countUsers['allUsers'] }}</h3>
                    <strong>{{ countUsers['allNewUsers'] }}</strong> new users for last 30 days
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <p>Comments</p>
                    <h3>{{ countComments['allComments'] }}</h3>
                    <strong>{{ countComments['allNewComments'] }}</strong> new comments for last 30 days
                </div>
                <div class="icon">
                    <i class="fa fa-comment"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
