{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block formactions %}
    <div class="sonata-ba-form-actions well well-small">
        <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save" aria-hidden="true"></i> Update</button>

        <button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> Update and close</button>

        {% if object.id is not null %}
        or

        <a class="btn btn-info" href="{{ admin.generateObjectUrl('sendOwnerMessage', object) }}"><i class="fa fa-comment" aria-hidden="true"></i> Send message to owner</a>
        <a class="btn btn-info" href="{{ web_url }}/groups/{{ object.slug }}" target="_blank"><i class="fa fa-outdent" aria-hidden="true"></i> View group on platform</a>
        <a class="btn btn-info" href="{{ admin.generateObjectUrl('groupHistory', object) }}"><i class="fa fa-history" aria-hidden="true"></i> Group history</a>
        <a class="btn btn-danger pull-right" href="{{ admin.generateObjectUrl('deleteGroup', object) }}"><i class="fa fa-minus-circle" aria-hidden="true"></i> Delete group</a>

        {% endif %}
    </div>
{% endblock %}