
{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block content %}


    {{ form_start(form) }}

    <div class="sonata-ba-collapsed-fields">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            Change group owner
                        </h4>
                    </div>
                    <div class="box-body">

                        {% form_theme form '@SonataAdmin/Form/form_admin_fields.html.twig' %}

                        {{ form_widget(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block formactions %}
        <div class="sonata-ba-form-actions well well-small form-actions">
            <button type="submit" class="btn btn-success" name="btn_success"><i class="fa fa-edit" aria-hidden="true"></i> Change owner</button>
        </div>
    {% endblock %}

    {{ form_end(form) }}




{% endblock %}

