{% extends '@SonataAdmin/CRUD/show.html.twig' %}

{% block show %}
    {{ parent() }}
    <h3>Show entities related to this group</h3>
    <div>
        <span>Members count: {{ object.membersCount }}</span>
        <ul>

        {%  if object.type == constant('StudiVZ\\Core\\Entity\\Group::TYPE_BLOG') %}
            <li>
                <a href="{{ path('admin_studivz_core_blogpost_list', {"filter": {"group": {"value": object.id }}}) }}" target="_blank">Blog posts</a>
            </li>
            <li>
                <a href="{{ path('admin_studivz_core_thread_list', {"filter": {"entity": {"value": "StudiVZ\\\\Core\\\\Entity\\\\BlogPost"}, "entityId": {"value": object.id }}}) }}" target="_blank">Blog posts threads</a>
            </li>
        {% endif %}
        {%  if object.type == constant('StudiVZ\\Core\\Entity\\Group::TYPE_FORUM') %}
            <li>
                <a href="{{ path('admin_studivz_core_forumtopic_list', {"filter": {"group": {"value": object.id }}}) }}" target="_blank">Forum topics</a>
            </li>
            <li>
            <a href="{{ path('admin_studivz_core_forumthread_list', {"filter": {"group": {"value": object.id }}}) }}" target="_blank">Forum threads</a>
            </li>
        {% endif %}
            <li>
                <a href="{{ path('admin_studivz_core_groupmember_list', {"filter": {"entity": {"value": "StudiVZ\\\\Core\\\\Entity\\\\Group"}, "entityId": {"value": object.id }}}) }}" target="_blank">Group members list</a>
            </li>
        </ul>
    </div>
{% endblock %}
